html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: #f0d1fa;
}
div { 
    width: 600px; 
    background-color: black; 
    color: white; 
    padding: 1em; 
    margin-top: 1em; 
    border: 1px solid black; 
}
h2 { 
    padding: 1em; 
    background-color: red; 
    color: yellow; 
}
h1{
    color: blue;
}
form { 
    padding: 2em; 
    border: 2px solid blue; 
    background-color: rgb(204, 229, 241);
    
}
select { 
    padding: 1em; 
    margin-bottom: 1em; 
}

/*koser meg litt med css
https://getcssscan.com/css-buttons-examples*/
button{

    background-color:rgb(66, 91, 235);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1pc;
    font-weight: 600;
    line-height: 0.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}
    
button:hover {
    background-color: #374151;
}

button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    button{
    padding: .75rem 1.5rem;
    }
}

section{
    border: blue 2px solid;
    width: 20em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(204, 229, 241);

}