#boks1{
   width: 250px;
   border: solid 3px;
   border-color: aqua;

}

#boks2{
   width: 250px;
   border: solid 3px;
   border-color: red;
}
#boks3{
   width: 250px;
   border: solid 3px;
   border-color: green;
}

#flex{
   display: flex;
   justify-content: space-evenly;
   background-color: hotpink;
   padding: 30px;
   align-items: center;
   flex-direction: row;
}